@model (List<LessonDto> lessons, List<StudentDto> students, List<ExamDto> exams)

<div class="welcome-section">
    <h1>İmtahan reqistrasiyası</h1>
    <p>Əvvəlcə navbardan uyğun dərs və şagirdləri əlavə edin.</p>
    <a asp-action="Index" asp-controller="Exam" class="add-result-button">İmtahan nəticəsi əlavə et</a>
</div>

<hr />

<div class="tables">
    <div class="table-container">
        <h2>Dərslər</h2>
        <table>
            <thead>
                <tr>
                    <th>Kod</th>
                    <th>Dərs adı</th>
                    <th>Sinif</th>
                    <th>Müəllim</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
               @foreach (var lesson in Model.lessons.Take(5))
                {
                    <tr>
                        <td>@lesson.Code</td>
                        <td>@lesson.lessonName</td>
                        <td>@lesson.Grade</td>
                        <td>@lesson.teacherFullName</td>
                        <td>
                            <a asp-action="Remove" asp-controller="Lesson" asp-route-code="@lesson.Code" class="btn btn-danger">sil</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div class="table-container">
        <h2>Şagirdlər</h2>
        <table>
            <thead>
                <tr>
                    <th>Nömrəsi</th>
                    <th>Ad, Soyad</th>
                    <th>Sinif</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var student in Model.students.Take(5))
                {
                    <tr>
                        <td>@student.Number</td>
                        <td>@student.fullName</td>
                        <td>@student.Grade</td>
                        <td>
                            <a asp-action="Remove" asp-controller="Student" asp-route-number="@student.Number" class="btn btn-danger">sil</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

<div class="table-container">
    <h2>Ən Son İmtahan Nəticələri</h2>
    <table>
        <thead>
            <tr>
                <th>Dərs</th>
                <th>Şagird</th>
                <th>Tarix</th>
                <th>Qiymət</th>
                <th>ət</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var exam in Model.exams.Take(5))
            {
                <tr>
                    <td>@exam.Lesson</td>
                    <td>@exam.Student</td>
                    <td>@exam.examDate.ToString("dd-MMM-yyyy")</td>
                    <td>@exam.Score</td>
                    <td>
                        <a asp-action="Remove" asp-controller="Exam" asp-route-id="@exam.Id" class="btn btn-danger">sil</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
